.categories {
    list-style: none;
    padding: 24px;
    margin: 0;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
@media only screen and (max-width: 915px) {
    .categories {
        margin-bottom: 0;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 630px) {
    .categories {
       display: none;
    }
}