.sidebar__header {
    padding: 62px 24px 24px;
    background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.sidebar__header-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.sidebar__header-desc {
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    opacity: 0.75;
    padding: 0;
    margin: 0;
}
.toggler {
    display: none;
}
@media only screen and (max-width: 915px) {
    .sidebar__header {
        margin-bottom: 0;
        margin-right: 10px;
        padding-top: 70px;
        max-width: 280px;
        width: auto;
        flex-grow: 1;
    }
    
}
@media only screen and (max-width: 630px) {
   .sidebar__header {
       padding: 20px;
       margin-right: 0;
       width: 100%;
       border-radius: 0;
       max-width: 100%;
       position: fixed;
       top: 0;
       left: 0;
       z-index: 1000;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
   }
   .toggler {
    display: block;
    padding: 0;
    width: 20px;
    background-color: transparent;
    border: none;
    }
    .toggler__line {
        width: 20px;
        height: 3px;
        background-color: #fff;
        display: block;
        transition: all 0.4s;
    }
    .toggler__top {
        margin-bottom: 4px;
    }
    .toggler__center {
        margin-bottom: 4px;
    }
    .sidebar--open {
        .toggler__top {
            margin-bottom: 0px;
            transform: rotate(-45deg); 
        }
        .toggler__center {
            display: none;
        }
        .toggler__bottom { 
            margin-top: -3px;
            transform: rotate(45deg); 
        }
    }
}