.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}
.nav__back-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    padding: 5px;
    text-decoration: none;
    padding-left: 20px;
    background-image: url(../../../assets/img/arrow-to-left.svg);
    background-position: left;
    background-repeat: no-repeat;
    display: inline-block;

}
.nav__edit-feedback-btn {
    padding: 12px 24px;
    background-color: #4661e6;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #F2F4FE;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-decoration: none;
}