@import '../../assets/scss/generals.scss';

.main-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 94px;
}
@media only screen and (max-width: 915px) {
    .main-wrapper {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
}
@media only screen and (max-width: 630px) {
    .main-wrapper {
        padding: 0;
    }
}
