.main {
    max-width: 825px;
    width: 100%;
}

.empty {
    max-width: 825px;
    width: 100%;
}

.wrapper {
    padding: 0 20px;
}

.loading {
    font-size: 20px;
}
 
.main--grey {
    .main__grey-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: #000000;
        opacity: 0.5;
        width: 100vw;
        height: 100vh;
    }
}

.empty-inner {
    max-width: 410px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
@media only screen and (max-width: 630px) {
    .main {
        padding-top: 91px;
    }
}

