.main {
    max-width: 825px;
    width: 100%;
}

.empty {
    max-width: 825px;
    width: 100%;
}

.empty-inner {
    max-width: 410px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.empty-img {
    
}

.empty-list-heading {

}

.empty-list-desc {

}

.empty-list-btn {

}
