.comments__wrapper {
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #fff;
    padding: 24px 32px;
    border-radius: 10px;
}
.comments__count {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
    padding: 0;
    margin: 0;
}
.comments__list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 28px;
}
@media screen and (max-width: 550px) {
    .comments__wrapper {
        padding: 24px;
    }
}